{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}


{% block js %}
  <script type='text/javascript' src="{% static 'js/cart.js' %}"></script>
{% endblock %}


{% block title %}
  Ваша корзина товаров
{% endblock %}


{% block content %}
<h3 class="text-center">Ваша корзина</h3>
<table class="table">
  <tr>
    <td class="text-center">Товар</td>
    <td class="text-center">Кол-во</td>
    <td class="text-center">Цена</td>
    <td class="text-center">Удалить</td>
  </tr>
  {% for item in cart.items.all %}
    <tr>
      <td class="text-center">{{ item.course.name }}</td>
      <td class="text-center">{{ item.course.slug }}</td>
      <td class="text-center">{{ item.course.price }}</td>
      <td class="text-center"><a href="{% url 'cart:remove_from_cart' %}">Удалить курс</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
